body {
  font-family: 'Titillium Web', sans-serif;
  background: url("resourses/crossword.png") fixed;
}

div.center {
  text-align: center;
}

div.toppad {
  padding-top: 3em;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1em;
}

img {
  display: block;
  margin: auto;
}

a:link {
  color: red;
}

a:visited {
  color: orange;
}
